/** A css file */


html, body {
    font-family: 'HelveticaNeue', Arial, sans-serif;
    background-color: #232323;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}
body {
    background-color: #eee;
}

a {
    color: #0881ff;
}
a:hover {
    color: #044488;
}
a:visited {
    color: #045d88;
}

.header-wrap {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.header-title {
    margin: 0;
}
.header-title a {
    text-decoration: none;
    color: #0881ff;
}

.navbar {
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0881ff;
}
.navbar ul li a:hover, .navbar ul li.active > a {
    text-decoration: underline;
    color: #044488;
}

.main-wrap {
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}
.left {
    float: left;
    margin-right: 20px;
}


.footer-wrap {
    background-color: #232323;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ccc;
}
